body {
  background: linear-gradient(lightyellow,deepskyblue);
  color: #552244;
}
li,table {
  letter-spacing: 0.5px;
}
li {
  list-style-type:disc;
}
hr {
  height: 2px;
  width: 6%;
  border-color: gray;
  border-style: dotted none none;
  border-width: 6px;
}
h1 {
  color: #b7472a;
}
/*h1:hover {
  color: #f3c623;
  text-decoration: underline;
}*/
h3 {
  text-align: center;
  color: #b7472a;
}
a:hover {
  color: darkorange;
}
a:link {
  color: #235952;
  text-decoration: none;
}/*
.taskbar table{
  border-radius: 10px/20px;
  background-color: #d6eaf8;
  color: darkorange;
  width: 27%;
  font-size: 20px;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 10px;
}
.taskbar table:hover{
  background-color: lightyellow;
}*/
.taskbar a:link {
  color: white;
}
.taskbar a:visited {
  color: white;
}
.taskbar div:hover {
  background-color: lightblue;
}
.one{
  width: 150px;
  background-color: #be79df;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 15px 15px;
  font-size: 25px;
  text-align: center;
}
.two {
  width: 150px;
  background-color: #f4e04d;
  color: white;
  position: fixed;
  top: 0;
  right: 150px;
  border-radius: 0 0 15px 15px;
  font-size: 25px;
  text-align: center;
}
.three {
  width: 150px;
  background-color: #ff6363;
  color: white;
  position: fixed;
  top: 0;
  right: 300px;
  border-radius: 0 0 15px 15px;
  font-size: 25px;
  text-align: center;
}
.subscribe {
  width: 15%;
  text-align: center;
  margin: 0 auto;
  background-color: #0779e4;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px/10px;
}
.subscribe:hover{
  background-color: #f5b971;
}
.subscribe a:link{
  color: white;
}
.subscribe a:visited{
  color: white;
}
