body {
  background: linear-gradient(lightyellow,deepskyblue);
}
hr {
  height: 2px;
  width: 6%;
  border-color: gray;
  border-style: dotted none none;
  border-width: 5px;
}
h1 {
  color: #b7472a;

}
h3 {
  text-align: center;
  color: #b7472a;
}
